/* styles.css */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serifx;
  margin: 0;
  padding: 0;
  background-color: black;
}

header {
  color: #f41f4e;
  text-align: center;
  padding: 1rem;
}

main {
  display: flex;
  background-color: black;
  color: #f41f4e;
  justify-content: space-between;
  padding: 2rem;
}

.playlist,
.player {
  flex: 1;
  padding: 1rem;
  border: 5px solid;
  border-radius: 20px;
  margin: 0 1rem;
}

.playlist h2,
.player h2 {
  margin-top: 0;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  cursor: pointer;
  padding: 0.5rem 0;
}

li:hover {
  transition: 0.5s ease;
  background-color: #ffc2c7;
}
