body{
    background-color: black;
    color:aliceblue;
}
.shadow{
    border: 3px solid darkblue;
    box-shadow: 12px -7px 5px blue;
    box-sizing: border-box;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    margin:15px;
}