body{
    background-color: black;
    color:aliceblue;
}
.shadow{
    border: 3px solid darkblue;
    box-sizing: border-box;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    margin:15px;
}
.shadow:hover{
    box-shadow: 12px -7px 5px blue;
transition: .5s ease;
}
.text{
    margin-top:55px;
    text-align: center;
    /* color:rgb(120, 13, 120); */

}
.text:hover{
    text-shadow: 4px 5px 5px palegreen;
    transition: .5s ease;

}