* {
  margin: 0;
  padding: 0;
  background-color: rgb(8, 5, 56);
  color: aquamarine;
}
body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
fieldset {
  border: 3px solid aqua;
  border-radius: 10px;
  background-color: black;
  /* width: 350px;
  height: 250px; */
  padding: 25px;
  /* box-sizing: border-box; */
}
div {
  border: 5px solid aqua;
  box-sizing: border-box;
  height: 250px;
  width: 300px;

  /* margin: 100px; */
}

button {
  height: 40px;
  width: 100px;
  margin-left: 100px;
  margin-top: 20px;
}
label {
  margin-left: 10px;
  box-sizing: border-box;
  padding: 10px;
  background-color: black;
}
