* {
  margin: 0px;
  padding: 0px;
}

.login {
  padding: 50px;
  text-align: center;
  border: 2px solid black;
  height: 350px;
  width: 350px;
}
#user {
  text-align: center;
  display: block;
}
#pass {
  text-align: center;

  display: block;
}
button {
}
