@import url("https://fonts.googleapis.com/css2?family=Kalnia:wght@400;500&family=Playfair+Display:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Kalnia", serif;
  font-family: "Playfair Display", serif;
  font-size: 80px;
  font-weight: 600;
}
.Safron {
  background-color: orangered;
  height: 33.33vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.White {
  background-color: white;
  height: 33.33vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Green {
  background-color: green;
  height: 33.33vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text1,
.text2,
.text3 {
  text-shadow: none;
  transition: 1s ease-out;
}
.text1:hover {
  text-shadow: 12px -2px 5px rgb(255, 173, 20);
  color: rgb(255, 255, 0);
}
.text2:hover {
  text-shadow: 12px -2px 5px darkblue;
  color: aliceblue;
}
.text3:hover {
  text-shadow: 12px -2px 5px whitesmoke;
  color: greenyellow;
}
