@import url("https://fonts.googleapis.com/css2?family=Kalnia:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Kalnia", serif;
  color: whitesmoke;
  font-weight: 500;
}
body{
  background-color: rgb(55, 9, 9);
}
nav {
  background-color: rgb(55, 9, 9);
  box-sizing: border-box;
}
h1 {
  text-align: center;
  padding: 20px;
  font-size: 25px;
}
a {
  padding: 20;
}
.content {
  /* padding: 20px; */
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.Signin {
  width: 80px;
margin: 10; 
  border: none;
  height: 30;
  color: rgb(68, 10, 10);
  border: 3px solid rgb(188, 137, 60);
  border-radius: 15px;
}
.Signup {
  width: 80px;
    margin: 10;
  border: none;
  height: 30;
  color: rgb(68, 10, 10);
  border: 3px solid rgb(188, 137, 60);
  border-radius: 15px;
}
a {
  text-decoration: none;
}
a:hover {
    transform: translateY(Y);
    transition: 0.5s ease;
  text-decoration: underline;
  text-decoration-color: rgb(188, 137, 60);
  font-size: 20px;
}
.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}